// ========================================
//
// @file _base.scss
// Base level tags and styles
//
// ========================================

::selection {
  background: lighten($color-black, 10%);
  color: $color-white;
}

::-moz-selection {
  background: lighten($color-black, 10%);
  color: $color-white;
}

html {
  box-sizing: border-box;
}

body {
  background: $color-white;
  line-height: 24px;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}
a {
  outline: 0;
}
img {
  display: block;
  height: auto;
  margin: 0;
  max-width: 100%;
  transition: 0.4s;
}
.contextual-region {
  position: initial;
}